#content{
    margin: 0 auto;
}

#header-row{
    text-align: center;
}

#header{
    display: inline-block;
}

#contact{
    font-size: 1em;
}

#subheader{
    font-size: 1.5em;
}

#resume{
    display:none;
    margin-bottom: 10px;
    margin-top: 10px;
}

#interests{
    display:none;
    margin-top: 5px ;
}
#projects{
    display:none;
    margin-top: 5px;
    margin-bottom: 5px;
}
.keywords{
    font-size: .75em;
    font-family: monospace;
    margin-top: 5px;
}
.center{ 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.description{
    font-size: .75em;
}