#content{
    margin: 0 sauto;
}

#header-row{
    text-align: center;
}

#header{
    display: inline-block;
}

#contact{
    font-size: 1em;
}

#resume{
    display:none;
}

#interests{
    display:none;

}
#projects{
    display:none;

}